<form action="/add_definition" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <input type="text" class="form-control" name="word_name" id="word_name" disabled value="<%= @word.word_name %>">
    <input type="hidden"  name="word_name" id="word_name" value="<%= @word.word_name %>">
  </div>
  <div class="form-group">
    <label for="word">Definition</label>
    <textarea type="text" class="form-control" name="word_definition" id="word_definition" aria-describedby="definitionHelp" placeholder="Enter Definition">
    </textarea>
    <small id="definitionHelp" class="form-text text-muted">Write Definition Above</small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>