<h1>Welcome Kids</h1>

<div class="container">
  <div class="row col"><a href= "/dictionary">View All Definitions</a></div>
  <div class="row col"><a href= "/add_word">Add New Definition</a></div>
</div>